<!DOCTYPE html>

<html lang="en-us">
<head>
    <title>Add question | Django site admin</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>


    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
    <script type="text/javascript" src="/static/admin/js/collapse.js"></script>
    <script type="text/javascript" src="/static/admin/js/inlines.js"></script>

    <meta name="robots" content="NONE,NOARCHIVE"/>
</head>


<body class=" app-polls model-question change-form"
      data-admin-utc-offset="0">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

            <h1 id="site-name"><a href="/admin/">Polls Administration</a></h1>

        </div>


        <div id="user-tools">

            Welcome,
            <strong>admin</strong>.


            <a href="/">View site</a> /


            <a href="/admin/password_change/">Change password</a> /

            <a href="/admin/logout/">Log out</a>

        </div>


    </div>
    <!-- END Header -->

    <div class="breadcrumbs">
        <a href="/admin/">Home</a>
        &rsaquo; <a href="/admin/polls/">Polls</a>
        &rsaquo; <a href="/admin/polls/question/">Questions</a>
        &rsaquo; Add question
    </div>


    <!-- Content -->
    <div id="content" class="colM">

        <h1>Add question</h1>
        <div id="content-main">


            <form enctype="multipart/form-data" action="" method="post" id="question_form" novalidate><input
                    type='hidden' name='csrfmiddlewaretoken'
                    value='JW61UojBK5L7ju41QYVnS6j6XxwVXrx2Uirp3CZRDdIiKCJFAxyfIzGt0ROAXLfI'/>
                <div>


                    <fieldset class="module aligned ">


                        <div class="form-row field-question_text">


                            <div>


                                <label class="required" for="id_question_text">Question text:</label>

                                <input type="text" name="question_text" class="vTextField" maxlength="200" required
                                       id="id_question_text"/>


                            </div>

                        </div>

                    </fieldset>


                    <fieldset class="module aligned collapse">
                        <h2>Date information</h2>


                        <div class="form-row field-pub_date">


                            <div>


                                <label class="required" for="id_pub_date_0">Date published:</label>

                                <p class="datetime">
                                    Date: <input type="text" name="pub_date_0" class="vDateField" size="10" required
                                                 id="id_pub_date_0"/>

                                    <br/>
                                    Time: <input type="text" name="pub_date_1" class="vTimeField" size="8" required
                                                 id="id_pub_date_1"/>


                                </p>


                            </div>

                        </div>

                    </fieldset>


                    <div class="js-inline-admin-formset inline-group" id="choice_set-group"
                         data-inline-type="tabular"
                         data-inline-formset="{&quot;name&quot;: &quot;#choice_set&quot;, &quot;options&quot;: {&quot;prefix&quot;: &quot;choice_set&quot;, &quot;addText&quot;: &quot;Add another Choice&quot;, &quot;deleteText&quot;: &quot;Remove&quot;}}">
                        <div class="tabular inline-related last-related">
                            <input type="hidden" name="choice_set-TOTAL_FORMS" value="3"
                                   id="id_choice_set-TOTAL_FORMS"/><input type="hidden" name="choice_set-INITIAL_FORMS"
                                                                          value="0"
                                                                          id="id_choice_set-INITIAL_FORMS"/><input
                                type="hidden" name="choice_set-MIN_NUM_FORMS" value="0"
                                id="id_choice_set-MIN_NUM_FORMS"/><input type="hidden" name="choice_set-MAX_NUM_FORMS"
                                                                         value="1000" id="id_choice_set-MAX_NUM_FORMS"/>
                            <fieldset class="module ">
                                <h2>Choices</h2>

                                <table>
                                    <thead>
                                    <tr>
                                        <th class="original"></th>


                                        <th class="required">Choice text

                                        </th>


                                        <th class="required">Votes

                                        </th>


                                        <th>Delete?</th>
                                    </tr>
                                    </thead>

                                    <tbody>


                                    <tr class="form-row row1 "
                                        id="choice_set-0">
                                        <td class="original">

                                            <input type="hidden" name="choice_set-0-id" id="id_choice_set-0-id"/>
                                            <input type="hidden" name="choice_set-0-question"
                                                   id="id_choice_set-0-question"/>

                                        </td>


                                        <td class="field-choice_text">


                                            <input type="text" name="choice_set-0-choice_text" class="vTextField"
                                                   maxlength="200" id="id_choice_set-0-choice_text"/>

                                        </td>


                                        <td class="field-votes">


                                            <input type="number" name="choice_set-0-votes" value="0"
                                                   class="vIntegerField" id="id_choice_set-0-votes"/>

                                        </td>


                                        <td class="delete"></td>

                                    </tr>


                                    <tr class="form-row row2 "
                                        id="choice_set-1">
                                        <td class="original">

                                            <input type="hidden" name="choice_set-1-id" id="id_choice_set-1-id"/>
                                            <input type="hidden" name="choice_set-1-question"
                                                   id="id_choice_set-1-question"/>

                                        </td>


                                        <td class="field-choice_text">


                                            <input type="text" name="choice_set-1-choice_text" class="vTextField"
                                                   maxlength="200" id="id_choice_set-1-choice_text"/>

                                        </td>


                                        <td class="field-votes">


                                            <input type="number" name="choice_set-1-votes" value="0"
                                                   class="vIntegerField" id="id_choice_set-1-votes"/>

                                        </td>


                                        <td class="delete"></td>

                                    </tr>


                                    <tr class="form-row row1 "
                                        id="choice_set-2">
                                        <td class="original">

                                            <input type="hidden" name="choice_set-2-id" id="id_choice_set-2-id"/>
                                            <input type="hidden" name="choice_set-2-question"
                                                   id="id_choice_set-2-question"/>

                                        </td>


                                        <td class="field-choice_text">


                                            <input type="text" name="choice_set-2-choice_text" class="vTextField"
                                                   maxlength="200" id="id_choice_set-2-choice_text"/>

                                        </td>


                                        <td class="field-votes">


                                            <input type="number" name="choice_set-2-votes" value="0"
                                                   class="vIntegerField" id="id_choice_set-2-votes"/>

                                        </td>


                                        <td class="delete"></td>

                                    </tr>


                                    <tr class="form-row row2  empty-form"
                                        id="choice_set-empty">
                                        <td class="original">

                                            <input type="hidden" name="choice_set-__prefix__-id"
                                                   id="id_choice_set-__prefix__-id"/>
                                            <input type="hidden" name="choice_set-__prefix__-question"
                                                   id="id_choice_set-__prefix__-question"/>

                                        </td>


                                        <td class="field-choice_text">


                                            <input type="text" name="choice_set-__prefix__-choice_text"
                                                   class="vTextField" maxlength="200"
                                                   id="id_choice_set-__prefix__-choice_text"/>

                                        </td>


                                        <td class="field-votes">


                                            <input type="number" name="choice_set-__prefix__-votes" value="0"
                                                   class="vIntegerField" id="id_choice_set-__prefix__-votes"/>

                                        </td>


                                        <td class="delete"></td>

                                    </tr>

                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                    </div>


                    <div class="submit-row">
                        <input type="submit" value="Save" class="default" name="_save"/>


                        <input type="submit" value="Save and add another" name="_addanother"/>
                        <input type="submit" value="Save and continue editing" name="_continue"/>
                    </div>


                    <script type="text/javascript"
                            id="django-admin-form-add-constants"
                            src="/static/admin/js/change_form.js"

                            data-model-name="question"
                    >
                    </script>


                    <script type="text/javascript"
                            id="django-admin-prepopulated-fields-constants"
                            src="/static/admin/js/prepopulate_init.js"
                            data-prepopulated-fields="[]">
                    </script>


                </div>
            </form>
        </div>


        <br class="clear"/>
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
